#titleImg {
  width: 50%;
}

#navImg {
  height: 50px;
}

main {
  min-height: 70vh;
}


a {
  color: white;
}

.side-by-side {
  display: flex;
}

.collapsable-body .popout {
  min-height: 400px !important;
  display: block !important;
}

footer img{
  margin-top: 20px;
  margin-right: 20px;
  height: 45px;
}

.drinkImg img {
  width: 100%;
}

.rainImg {
  display: none;
}

.sunImg {
  display: none;
}

.snowImg {
  display: none;
}

.hailImg {
  display: none;
}
